<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block focoNavLeft %}
<li><a href="/">Inicio</a></li>
{% if user.is_superuser %}
    <li><a href="/usuarios/listaUsuarios/">Usuarios</a></li>
{% endif %}
<li><a href="/articulos/listaArticulos/">Articulos</a></li>
<li><a href="/articulos/listaCategorias/">Categorias</a></li>
<li class="active"><a href="/articulos/listaFabricantes/">Fabricantes<span class="sr-only">(current)</span></a></li>
<li><a href="#">Ofertas</a></li>
{% endblock %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
    <h2>Listado de {{fabricante}}:</h2>
    <br>
    <br>
    <div class="list-group">
        {% for articulo in articulos %}
            <a class="list-group-item" href='/articulos/detalleArticulo/{{articulo.id}}'>{{articulo.nombre}} - {{articulo.precio}} €</a>
        {% endfor %}
    </div>
{% endblock %}