<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block focoNavLeft %}
<li><a href="/">Inicio</a></li>
{% if user.is_superuser %}
    <li><a href="/usuarios/listaUsuarios/">Usuarios</a></li>
{% endif %}
<li><a href="/articulos/listaArticulos/">Articulos</a></li>
<li><a href="/articulos/listaCategorias/">Categorias</a></li>
<li class="active"><a href="/articulos/listaFabricantes/">Fabricantes<span class="sr-only">(current)</span></a></li>
{% endblock %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
    <h2>Detalles de: {{fabricante.nombre}}</h2> 
    {% if fabricante %}
     <a href='/articulos/eliminarFabricante/{{fabricante.id}}'>Eliminar</a>
     <a href='/articulos/editarFabricante/{{fabricante.id}}'>Editar</a>
    <br>
    <br>
    <ul>
        <li>Nombre: {{fabricante.nombre}}</li>
        <br>
        <img style="width: 150px; height:150px;" src='{{MEDIA_URL}}{{fabricante.imagen}}' alt=""/><br>
    {% endif %}
</div>
{% endblock %}
