<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block focoNavLeft %}
<li><a href="/">Inicio</a></li>
{% if user.is_superuser %}
    <li><a href="/usuarios/listaUsuarios/">Usuarios</a></li>
{% endif %}
<li><a href="/articulos/listaArticulos/">Articulos</a></li>
<li class="active"><a href="/articulos/listaCategorias/">Categorias<span class="sr-only">(current)</span></a></li>
<li><a href="/articulos/listaFabricantes/">Fabricantes</a></li>
{% endblock %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
    <h2>Listado de Categorias</h2>
    {% if user.is_superuser %}
        <a href='/articulos/nuevoCategoria'>Añadir</a>
    {% endif %}
    <br>
    <br>
    {% for categoria in listaCategorias %}
    <div class="col-md-3 col-md-push-1 well">
        <img style="height:80px;" src='{{MEDIA_URL}}{{categoria.imagen}}' alt="" class="img-rounded center-block img-responsive"/>
    
    <div class="caption">
        <h4 style="text-align:center;">{{categoria.nombre}}</h4>
        <p>
            <a href="/articulos/articuloCategoria/{{categoria.id}}" class="btn btn-primary center-block" role="button">Ver artículos</a> 

            {% if user.is_superuser %}
                <a href='/articulos/editarCategoria/{{categoria.id}}'><p style="text-align:center;">Editar</p></a>
            {% endif %}
        </p>
    </div>
</div>
    {% endfor %}
</div>
{% endblock %}

