{% extends "base.html" %}

{% block focoNavLeft %}
<li><a href="/">Inicio</a></li>
{% if user.is_superuser %}
    <li><a href="/usuarios/listaUsuarios/">Usuarios</a></li>
{% endif %}
<li class="active"><a href="/articulos/listaArticulos/">Articulos<span class="sr-only">(current)</span></a></li>
<li><a href="/articulos/listaCategorias/">Categorias</a></li>
<li><a href="/articulos/listaFabricantes/">Fabricantes</a></li>
<li><a href="#">Ofertas</a></li>
{% endblock %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
	 <h2>Insertar Artículo</h2> 

	<form id = 'form' method='post' enctype='multipart/form-data' action=''> {% csrf_token %}
			{{form.as_p}}
				<p><input type='submit' value='submit'></p>
	</form>
</div>
{% endblock %}