<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html>
    <head>  
        <meta charset="utf-8">
        
        {% block jquery %}
        {% endblock %}

        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
        <title>Tienda Online</title>
    </head>

    <body>
        {% block Header %}
        <nav class="navbar navbar-inverse navbar-fixed-top color">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Tienda Online</a>
                </div>
                
                {% if user.is_authenticated %}
                <div class="navbar-collapse collapse navbar-right navbar-form">
                    <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-shopping-cart"></span>      
                    <a href="/usuarios/logout"><button type="button" class="btn btn-success">{{user.username}}</button></a>
                </div><!--/.navbar-collapse -->
                {% else %}
                <div id="navbar" class="navbar-collapse collapse">
                    <div class="navbar-form navbar-right" action='.' method='post'> {% csrf_token %}
                        <a href="/usuarios/login"><button type="submit" class="btn btn-success" value="login">Iniciar sesión</button></a>
                        <a href="/usuarios/register"><button type="submit" class="btn btn-link" value="register">Registrarse</button></a>
                    </div>
                </div><!--/.navbar-collapse -->
                {% endif %}
            </div>
        </nav>
        {% endblock %}
  
    	{% block NavigationTop %}
        {% endblock %}
 
       
        {% block NavigationLeft %}
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Profile</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
            </ul>
        {% endblock %}
     
    <div id="content">
        {% block Content %}
            <h2>Bienvenido a la Tienda On Line</h2> 				
    	{% endblock %}
    </div>

    <div id="aside">
    </div>
        
    <div id="footer">
        {% block Footer %}
           	Copyright &copy {% now "Y" %}, Jordi Bordoy Nieto
        {% endblock %}
    </div>
  </body>
</html> 
