{% extends "base.html" %}

{% block focoNavLeft %}
    <li><a href="/">Inicio</a></li>
    <li><a href="#">Categorias</a></li>
    <li><a href="#">Ofertas</a></li>
    <li><a href="#">Cuenta</a></li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="margin-top:20px;">
        <div class="col-lg-offset-4 col-lg-5 span4 offset4">
            <div class="alert alert-danger">
                <a href="/usuarios/login" class="close" data-dismiss="alert">&times;</a>
                <strong>Error!</strong> El usuario'{{user}}' está inactivo. Contacte con el administrador.
            </div>
        </div>
    </div>
</div>
{% endblock %}