{% extends 'base.html' %}

{% block jquery %}
	<script src="/static/js/jquery-1.11.2.min.js"></script>
        <script>
            $(document).ready(function(){

                $(".helptext").hide();
            });
        </script>
{% endblock %}

{% block Contents %}
	<h2>Registro de nuevo usuario</h2>

	<form id='form' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
		<table class='formTable'>{{form}}</table>
		<p><input class="btn btn-primary" type='submit' value='Registrar'></p>
	</form>
{% endblock %}