<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block focoNavLeft %}
<li><a href="/">Inicio</a></li>
{% if user.is_superuser %}
    <li class="active"><a href="/usuarios/listaUsuarios/">Usuarios<span class="sr-only">(current)</span></a></li>
{% endif %}
<li><a href="#">Categorias</a></li>
<li><a href="#">Ofertas</a></li>
<li><a href="#">Cuenta</a></li>
{% endblock %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
    <h2>Detalles de: {{usuario.username}}</h2> 
	{% if user %}
	<ul>
        <li>Nombre: {{usuario.first_name}}</li>
		<li>Apellidos: {{usuario.last_name}}</li>
        <li>Correo: {{usuario.email}}</li>
        <li>Password: {{usuario.password}}</li>
        <li>Sexo: {{usuario.sex}}</li>
        <li>Nacimiento: {{usuario.nacimiento}}</li>
        <li>Telefono: {{usuario.phone}}</li>
        <li>DNI: {{usuario.dni}}</li>
        <li>Direccion: {{usuario.address}}</li>
        <li><a href="/usuarios/usuario/eliminarUsuario/{{usuario.id}}/">Eliminar</a></li>
	</ul>
   {% endif %}
</div>
{% endblock %}
